<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="seunghwang.bms.book.dao.mapper.DetailMapper">
	<resultMap id="detailMap" type="detail">
		<id			 property="detailId"	  column="detail_id"/>
		<result		 property="bookId"		  column="book_id"/>
		<result		 property="detailBook"	  column="detail_book"/>
		<result		 property="detailReview"  column="detail_review"/>
		<result 	 property="detailWriter"  column="detail_writer"/>
		<result		 property="detailChapter" column="detail_chapter"/>
	</resultMap>
	
	<select id="searchDetail" parameterType="string" resultMap="detailMap">
		select detail_book, detail_review, detail_writer, detail_chapter
		from details
		where detail_id=#{bookId}
	</select>
	
	<insert id="insertDetail" parameterType="detail">
		insert into details
		values(#{detailId},#{bookId},#{detailBook},#{detailReview},#{detailWriter},#{detailChapter})
	</insert>
	
	<update id="updateDetail" parameterType="detail">
	 	update details
	 	set detail_book=#{detailBook},detail_review=#{detailReview},detail_writer=#{detailWriter},detail_chapter=#{detailChapter}
	 	where book_id=#{bookId}   
	</update>
	
	<delete id="deleteDetail" parameterType="string">
	    delete details
	    where detail_id=#{bookId}
	</delete>
</mapper>
